    <!-- d-none hides the element || or i could just comment it out -->
    <footer class="p-1 bg-light d-none">
        <div class="container">
            <p>Trademark YelpCamp 2017</p> 
        </div>
    </footer>
    
    </body>
</html>